@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#__next {
  height: 100vh;
}

.bg-button {
  background: radial-gradient(
    36.8% 100.97% at 29.11% 12.06%,
    #8d5bb8 33%,
    #704cc5 100%
  );
}

.rdp {
  margin: 0px !important;
}

.rdp-table {
  width: 100% !important;
}

.bg-gradient {
  background: radial-gradient(
    209.13% 100% at 50% 0%,
    #25275d 0%,
    #000111 100%
  ) !important;
}

.btn-bg-gradient {
  background: radial-gradient(
    49.52% 135.87% at 49.64% 0%,
    #8d5bb8 33.42%,
    #704cc5 100%
  );
}
